@mixin btn($color:#999, $background-color:#EEE, $border-color:#999, $shadow-color:#999,$hcolor:#999, $hbackground-color:#EEE, $hborder-color:#999, $hshadow-color:#999){
    color:$color;
    background-color:$background-color;
    @include box-shadow(inset 0px 1px 0px 0px $shadow-color);
    border: 1px solid $border-color;
    border-radius: 3px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    @include rem(1.2);
    font-weight: bold;
    padding: 7px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
    @include transition(0.5s all);
    border:1px solid transparent;
    &:hover, &:focus{
       color:$hcolor;
        background-color:$hbackground-color;
        @include box-shadow(inset 0px 1px 0px 0px $hshadow-color);
        // border: 1px solid $hborder-color;
    }
}

/* Headers */
.shadow{text-shadow: 0 1px 1px #fff;}
.my_vip_header{ color: #373b43;font-weight: bold;
  &.h2{font-size: 19px;}
}
.the_title{@include rem(1.1);line-height:1.1; padding-right:8px; margin:0 0 5px;}

/* Images */
.img_wrap{border:3px solid #FFF; border-radius:4px; margin-bottom:5px; @include box-shadow(0 1px 2px 0 #a7a7a9);}

/* Types */
.type{color: #656565;@include rem(1.1); padding:2px 0 10px 16px; display:block; line-height:1;
  &.transport,&.transportation{background:url(#{$maps}project_icon_transportation.png) no-repeat 0 2px;}
  &.water{background:url(#{$maps}project_icon_water.png) no-repeat;}
  &.mining_related,&.mining{background:url(#{$maps}project_icon_mining.png) no-repeat;}
  &.information_communication_technologies,&.comm{background:url(#{$maps}project_icon_comm.png) no-repeat 0 -2px;}
  &.energy{background:url(#{$maps}project_icon_energy.png) no-repeat 0px -2px;}
  &.social{background:url(#{$maps}project_icon_social.png) no-repeat -2px -1px;}
  &.oilgas,&.oil_gas{background:url(#{$maps}project_icon_oil_gas.png) no-repeat;}
  &.real_estate{background:url(#{$maps}project_icon_real_estate.png) no-repeat}
  &.industrial{background:url(#{$maps}project_icon_industrial.png) no-repeat}
  &.tourism_related{background:url(#{$maps}project_icon_tourism_related.png) no-repeat}
  &.logistics{background:url(#{$maps}project_icon_logistics.png) no-repeat}
  &.urban_planning_design{background:url(#{$maps}project_icon_urban_planning_design.png) no-repeat}
}

/* Columns and Sections */
$col_contain:965;
$side_cols:161;
$gutters:20;
$main_col:603;

.column_1,.column_3{width:pw($side_cols,$col_contain); float:left;}
.column_2{width:pw($main_col, $col_contain); margin:auto pw($gutters, $col_contain);float:left;}

.group{margin-bottom:50px;}

/* general */
ol, ul{
  &.reset{margin:0; padding:0; list-style:none;}
}

.center{text-align:center;
  &.extra_pad{padding: 12px 0}
}

.more_link{text-align:right; margin-top:-10px; margin-bottom: 10px;}
.not_found{font-weight:bold; @include rem(1.4); list-style:none;}
.dn{display:none;}

// .pull_up_white{
//   border-top:none; margin-top:-24px; position:relative;
// }
/* buttons */
.link-button{display:inline-block; width:auto; border:none; background:none; padding:5; text-decoration:underline; font-weight:normal; color:#ed4300; margin:5px 0 0; @include rem(1.3);
  &:focus, &:hover{color:#a12d00; opacity:1; outline:none;}
}

.button{@include btn;}
.undo-vm, input.undo-vm, .comments input.undo-vm{@extend .link-button;}
.skip{margin-right:10px;}
input[disabled]{@include btn; @include box-shadow(inset 0px 1px 0px 0px #f7f5f5); color:#999 !important;
  &:hover {
    @include box-shadow(inset 0px 1px 0px 0px #f7f5f5); color:#999 !important;
  }
}

