@import "compass-sprites-base";

// General Sprite Defaults
// You can override them before you import this file.
$map-sprite-dimensions : false !default;
$map-use-percentages   : false !default;
$map-position          : 0% !default;
$map-spacing           : 0 !default;
$map-repeat            : no-repeat !default;
$map-prefix            : '' !default;
$map-clean-up          : true !default;
$map-layout            : vertical !default;
$map-inline            : false !default;
$map-sort-by           : 'none' !default;
$map-class-separator   : $default-sprite-separator !default;
$map-sprite-base-class : ".map#{$map-class-separator}sprite" !default;

  
 // These variables control the generated sprite output
 // You can override them selectively before you import this file.
 
   $map-comm_large-position: $map-position !default;
   $map-comm_large-spacing:  $map-spacing !default;
   $map-comm_large-repeat:   $map-repeat !default;
 
   $map-dropdown-position: $map-position !default;
   $map-dropdown-spacing:  $map-spacing !default;
   $map-dropdown-repeat:   $map-repeat !default;
 
   $map-empty_pin_hover-position: $map-position !default;
   $map-empty_pin_hover-spacing:  $map-spacing !default;
   $map-empty_pin_hover-repeat:   $map-repeat !default;
 
   $map-energy-circle-position: $map-position !default;
   $map-energy-circle-spacing:  $map-spacing !default;
   $map-energy-circle-repeat:   $map-repeat !default;
 
   $map-energy-icon-small-position: $map-position !default;
   $map-energy-icon-small-spacing:  $map-spacing !default;
   $map-energy-icon-small-repeat:   $map-repeat !default;
 
   $map-energy-marker-position: $map-position !default;
   $map-energy-marker-spacing:  $map-spacing !default;
   $map-energy-marker-repeat:   $map-repeat !default;
 
   $map-energy_large-position: $map-position !default;
   $map-energy_large-spacing:  $map-spacing !default;
   $map-energy_large-repeat:   $map-repeat !default;
 
   $map-hover-marker-position: $map-position !default;
   $map-hover-marker-spacing:  $map-spacing !default;
   $map-hover-marker-repeat:   $map-repeat !default;
 
   $map-industrial-circle-position: $map-position !default;
   $map-industrial-circle-spacing:  $map-spacing !default;
   $map-industrial-circle-repeat:   $map-repeat !default;
 
   $map-industrial_large-position: $map-position !default;
   $map-industrial_large-spacing:  $map-spacing !default;
   $map-industrial_large-repeat:   $map-repeat !default;
 
   $map-industrial_largepng-position: $map-position !default;
   $map-industrial_largepng-spacing:  $map-spacing !default;
   $map-industrial_largepng-repeat:   $map-repeat !default;
 
   $map-information-communication-technologies-circle-position: $map-position !default;
   $map-information-communication-technologies-circle-spacing:  $map-spacing !default;
   $map-information-communication-technologies-circle-repeat:   $map-repeat !default;
 
   $map-information-communication-technologies-icons-small-position: $map-position !default;
   $map-information-communication-technologies-icons-small-spacing:  $map-spacing !default;
   $map-information-communication-technologies-icons-small-repeat:   $map-repeat !default;
 
   $map-information_communication_technologies_large-position: $map-position !default;
   $map-information_communication_technologies_large-spacing:  $map-spacing !default;
   $map-information_communication_technologies_large-repeat:   $map-repeat !default;
 
   $map-it-circle-position: $map-position !default;
   $map-it-circle-spacing:  $map-spacing !default;
   $map-it-circle-repeat:   $map-repeat !default;
 
   $map-it-icon-small-position: $map-position !default;
   $map-it-icon-small-spacing:  $map-spacing !default;
   $map-it-icon-small-repeat:   $map-repeat !default;
 
   $map-it-marker-position: $map-position !default;
   $map-it-marker-spacing:  $map-spacing !default;
   $map-it-marker-repeat:   $map-repeat !default;
 
   $map-lightning_large-position: $map-position !default;
   $map-lightning_large-spacing:  $map-spacing !default;
   $map-lightning_large-repeat:   $map-repeat !default;
 
   $map-logistics-circle-position: $map-position !default;
   $map-logistics-circle-spacing:  $map-spacing !default;
   $map-logistics-circle-repeat:   $map-repeat !default;
 
   $map-logistics_big-position: $map-position !default;
   $map-logistics_big-spacing:  $map-spacing !default;
   $map-logistics_big-repeat:   $map-repeat !default;
 
   $map-logistics_large-position: $map-position !default;
   $map-logistics_large-spacing:  $map-spacing !default;
   $map-logistics_large-repeat:   $map-repeat !default;
 
   $map-map-tooltip-position: $map-position !default;
   $map-map-tooltip-spacing:  $map-spacing !default;
   $map-map-tooltip-repeat:   $map-repeat !default;
 
   $map-map_cal_1-position: $map-position !default;
   $map-map_cal_1-spacing:  $map-spacing !default;
   $map-map_cal_1-repeat:   $map-repeat !default;
 
   $map-map_cal_2-position: $map-position !default;
   $map-map_cal_2-spacing:  $map-spacing !default;
   $map-map_cal_2-repeat:   $map-repeat !default;
 
   $map-map_money-position: $map-position !default;
   $map-map_money-spacing:  $map-spacing !default;
   $map-map_money-repeat:   $map-repeat !default;
 
   $map-map_person-position: $map-position !default;
   $map-map_person-spacing:  $map-spacing !default;
   $map-map_person-repeat:   $map-repeat !default;
 
   $map-map_pin-position: $map-position !default;
   $map-map_pin-spacing:  $map-spacing !default;
   $map-map_pin-repeat:   $map-repeat !default;
 
   $map-map_pin_empty-position: $map-position !default;
   $map-map_pin_empty-spacing:  $map-spacing !default;
   $map-map_pin_empty-repeat:   $map-repeat !default;
 
   $map-marker-gray-position: $map-position !default;
   $map-marker-gray-spacing:  $map-spacing !default;
   $map-marker-gray-repeat:   $map-repeat !default;
 
   $map-mining-circle-position: $map-position !default;
   $map-mining-circle-spacing:  $map-spacing !default;
   $map-mining-circle-repeat:   $map-repeat !default;
 
   $map-mining-icon-small-position: $map-position !default;
   $map-mining-icon-small-spacing:  $map-spacing !default;
   $map-mining-icon-small-repeat:   $map-repeat !default;
 
   $map-mining-marker-position: $map-position !default;
   $map-mining-marker-spacing:  $map-spacing !default;
   $map-mining-marker-repeat:   $map-repeat !default;
 
   $map-mining-related-circle-position: $map-position !default;
   $map-mining-related-circle-spacing:  $map-spacing !default;
   $map-mining-related-circle-repeat:   $map-repeat !default;
 
   $map-mining-related-icon-small-position: $map-position !default;
   $map-mining-related-icon-small-spacing:  $map-spacing !default;
   $map-mining-related-icon-small-repeat:   $map-repeat !default;
 
   $map-mining_large-position: $map-position !default;
   $map-mining_large-spacing:  $map-spacing !default;
   $map-mining_large-repeat:   $map-repeat !default;
 
   $map-oil-circle-position: $map-position !default;
   $map-oil-circle-spacing:  $map-spacing !default;
   $map-oil-circle-repeat:   $map-repeat !default;
 
   $map-oil-gas-circle-position: $map-position !default;
   $map-oil-gas-circle-spacing:  $map-spacing !default;
   $map-oil-gas-circle-repeat:   $map-repeat !default;
 
   $map-oil-gas-icon-small-position: $map-position !default;
   $map-oil-gas-icon-small-spacing:  $map-spacing !default;
   $map-oil-gas-icon-small-repeat:   $map-repeat !default;
 
   $map-oil-gas-marke-position: $map-position !default;
   $map-oil-gas-marke-spacing:  $map-spacing !default;
   $map-oil-gas-marke-repeat:   $map-repeat !default;
 
   $map-oil-icon-small-position: $map-position !default;
   $map-oil-icon-small-spacing:  $map-spacing !default;
   $map-oil-icon-small-repeat:   $map-repeat !default;
 
   $map-oil-marker-position: $map-position !default;
   $map-oil-marker-spacing:  $map-spacing !default;
   $map-oil-marker-repeat:   $map-repeat !default;
 
   $map-oil_gas_large-position: $map-position !default;
   $map-oil_gas_large-spacing:  $map-spacing !default;
   $map-oil_gas_large-repeat:   $map-repeat !default;
 
   $map-oil_large-position: $map-position !default;
   $map-oil_large-spacing:  $map-spacing !default;
   $map-oil_large-repeat:   $map-repeat !default;
 
   $map-open_project_bg-position: $map-position !default;
   $map-open_project_bg-spacing:  $map-spacing !default;
   $map-open_project_bg-repeat:   $map-repeat !default;
 
   $map-other_big-position: $map-position !default;
   $map-other_big-spacing:  $map-spacing !default;
   $map-other_big-repeat:   $map-repeat !default;
 
   $map-pin_comm-position: $map-position !default;
   $map-pin_comm-spacing:  $map-spacing !default;
   $map-pin_comm-repeat:   $map-repeat !default;
 
   $map-pin_lightning-position: $map-position !default;
   $map-pin_lightning-spacing:  $map-spacing !default;
   $map-pin_lightning-repeat:   $map-repeat !default;
 
   $map-pin_mining-position: $map-position !default;
   $map-pin_mining-spacing:  $map-spacing !default;
   $map-pin_mining-repeat:   $map-repeat !default;
 
   $map-pin_oil-position: $map-position !default;
   $map-pin_oil-spacing:  $map-spacing !default;
   $map-pin_oil-repeat:   $map-repeat !default;
 
   $map-pin_social-position: $map-position !default;
   $map-pin_social-spacing:  $map-spacing !default;
   $map-pin_social-repeat:   $map-repeat !default;
 
   $map-pin_transport-position: $map-position !default;
   $map-pin_transport-spacing:  $map-spacing !default;
   $map-pin_transport-repeat:   $map-repeat !default;
 
   $map-pin_urban_design_planning-position: $map-position !default;
   $map-pin_urban_design_planning-spacing:  $map-spacing !default;
   $map-pin_urban_design_planning-repeat:   $map-repeat !default;
 
   $map-pin_water-position: $map-position !default;
   $map-pin_water-spacing:  $map-spacing !default;
   $map-pin_water-repeat:   $map-repeat !default;
 
   $map-pin_word_bubble-position: $map-position !default;
   $map-pin_word_bubble-spacing:  $map-spacing !default;
   $map-pin_word_bubble-repeat:   $map-repeat !default;
 
   $map-project_icon_comm-position: $map-position !default;
   $map-project_icon_comm-spacing:  $map-spacing !default;
   $map-project_icon_comm-repeat:   $map-repeat !default;
 
   $map-project_icon_comm_hover-position: $map-position !default;
   $map-project_icon_comm_hover-spacing:  $map-spacing !default;
   $map-project_icon_comm_hover-repeat:   $map-repeat !default;
 
   $map-project_icon_energy-position: $map-position !default;
   $map-project_icon_energy-spacing:  $map-spacing !default;
   $map-project_icon_energy-repeat:   $map-repeat !default;
 
   $map-project_icon_energy_hover-position: $map-position !default;
   $map-project_icon_energy_hover-spacing:  $map-spacing !default;
   $map-project_icon_energy_hover-repeat:   $map-repeat !default;
 
   $map-project_icon_industrial-position: $map-position !default;
   $map-project_icon_industrial-spacing:  $map-spacing !default;
   $map-project_icon_industrial-repeat:   $map-repeat !default;
 
   $map-project_icon_industrial_hover-position: $map-position !default;
   $map-project_icon_industrial_hover-spacing:  $map-spacing !default;
   $map-project_icon_industrial_hover-repeat:   $map-repeat !default;
 
   $map-project_icon_logistics-position: $map-position !default;
   $map-project_icon_logistics-spacing:  $map-spacing !default;
   $map-project_icon_logistics-repeat:   $map-repeat !default;
 
   $map-project_icon_logistics_hover-position: $map-position !default;
   $map-project_icon_logistics_hover-spacing:  $map-spacing !default;
   $map-project_icon_logistics_hover-repeat:   $map-repeat !default;
 
   $map-project_icon_mining-position: $map-position !default;
   $map-project_icon_mining-spacing:  $map-spacing !default;
   $map-project_icon_mining-repeat:   $map-repeat !default;
 
   $map-project_icon_mining_hover-position: $map-position !default;
   $map-project_icon_mining_hover-spacing:  $map-spacing !default;
   $map-project_icon_mining_hover-repeat:   $map-repeat !default;
 
   $map-project_icon_oil_gas-position: $map-position !default;
   $map-project_icon_oil_gas-spacing:  $map-spacing !default;
   $map-project_icon_oil_gas-repeat:   $map-repeat !default;
 
   $map-project_icon_oil_gas_hover-position: $map-position !default;
   $map-project_icon_oil_gas_hover-spacing:  $map-spacing !default;
   $map-project_icon_oil_gas_hover-repeat:   $map-repeat !default;
 
   $map-project_icon_other-position: $map-position !default;
   $map-project_icon_other-spacing:  $map-spacing !default;
   $map-project_icon_other-repeat:   $map-repeat !default;
 
   $map-project_icon_other_hover-position: $map-position !default;
   $map-project_icon_other_hover-spacing:  $map-spacing !default;
   $map-project_icon_other_hover-repeat:   $map-repeat !default;
 
   $map-project_icon_real_estate-position: $map-position !default;
   $map-project_icon_real_estate-spacing:  $map-spacing !default;
   $map-project_icon_real_estate-repeat:   $map-repeat !default;
 
   $map-project_icon_real_estate_hover-position: $map-position !default;
   $map-project_icon_real_estate_hover-spacing:  $map-spacing !default;
   $map-project_icon_real_estate_hover-repeat:   $map-repeat !default;
 
   $map-project_icon_social-position: $map-position !default;
   $map-project_icon_social-spacing:  $map-spacing !default;
   $map-project_icon_social-repeat:   $map-repeat !default;
 
   $map-project_icon_social_hover-position: $map-position !default;
   $map-project_icon_social_hover-spacing:  $map-spacing !default;
   $map-project_icon_social_hover-repeat:   $map-repeat !default;
 
   $map-project_icon_tourism_related-position: $map-position !default;
   $map-project_icon_tourism_related-spacing:  $map-spacing !default;
   $map-project_icon_tourism_related-repeat:   $map-repeat !default;
 
   $map-project_icon_tourism_related_hover-position: $map-position !default;
   $map-project_icon_tourism_related_hover-spacing:  $map-spacing !default;
   $map-project_icon_tourism_related_hover-repeat:   $map-repeat !default;
 
   $map-project_icon_transportation-position: $map-position !default;
   $map-project_icon_transportation-spacing:  $map-spacing !default;
   $map-project_icon_transportation-repeat:   $map-repeat !default;
 
   $map-project_icon_transportation_hover-position: $map-position !default;
   $map-project_icon_transportation_hover-spacing:  $map-spacing !default;
   $map-project_icon_transportation_hover-repeat:   $map-repeat !default;
 
   $map-project_icon_urban_design_planning-position: $map-position !default;
   $map-project_icon_urban_design_planning-spacing:  $map-spacing !default;
   $map-project_icon_urban_design_planning-repeat:   $map-repeat !default;
 
   $map-project_icon_urban_design_planning_hover-position: $map-position !default;
   $map-project_icon_urban_design_planning_hover-spacing:  $map-spacing !default;
   $map-project_icon_urban_design_planning_hover-repeat:   $map-repeat !default;
 
   $map-project_icon_urban_planning_design-position: $map-position !default;
   $map-project_icon_urban_planning_design-spacing:  $map-spacing !default;
   $map-project_icon_urban_planning_design-repeat:   $map-repeat !default;
 
   $map-project_icon_urban_planning_design_hover-position: $map-position !default;
   $map-project_icon_urban_planning_design_hover-spacing:  $map-spacing !default;
   $map-project_icon_urban_planning_design_hover-repeat:   $map-repeat !default;
 
   $map-project_icon_water-position: $map-position !default;
   $map-project_icon_water-spacing:  $map-spacing !default;
   $map-project_icon_water-repeat:   $map-repeat !default;
 
   $map-project_icon_water_hover-position: $map-position !default;
   $map-project_icon_water_hover-spacing:  $map-spacing !default;
   $map-project_icon_water_hover-repeat:   $map-repeat !default;
 
   $map-project_stage_1-position: $map-position !default;
   $map-project_stage_1-spacing:  $map-spacing !default;
   $map-project_stage_1-repeat:   $map-repeat !default;
 
   $map-project_stage_1_old-position: $map-position !default;
   $map-project_stage_1_old-spacing:  $map-spacing !default;
   $map-project_stage_1_old-repeat:   $map-repeat !default;
 
   $map-project_stage_2-position: $map-position !default;
   $map-project_stage_2-spacing:  $map-spacing !default;
   $map-project_stage_2-repeat:   $map-repeat !default;
 
   $map-project_stage_2_old-position: $map-position !default;
   $map-project_stage_2_old-spacing:  $map-spacing !default;
   $map-project_stage_2_old-repeat:   $map-repeat !default;
 
   $map-project_stage_3-position: $map-position !default;
   $map-project_stage_3-spacing:  $map-spacing !default;
   $map-project_stage_3-repeat:   $map-repeat !default;
 
   $map-project_stage_3_old-position: $map-position !default;
   $map-project_stage_3_old-spacing:  $map-spacing !default;
   $map-project_stage_3_old-repeat:   $map-repeat !default;
 
   $map-project_stage_4-position: $map-position !default;
   $map-project_stage_4-spacing:  $map-spacing !default;
   $map-project_stage_4-repeat:   $map-repeat !default;
 
   $map-project_stage_4_old-position: $map-position !default;
   $map-project_stage_4_old-spacing:  $map-spacing !default;
   $map-project_stage_4_old-repeat:   $map-repeat !default;
 
   $map-project_stage_5-position: $map-position !default;
   $map-project_stage_5-spacing:  $map-spacing !default;
   $map-project_stage_5-repeat:   $map-repeat !default;
 
   $map-project_stage_5_old-position: $map-position !default;
   $map-project_stage_5_old-spacing:  $map-spacing !default;
   $map-project_stage_5_old-repeat:   $map-repeat !default;
 
   $map-project_stage_6-position: $map-position !default;
   $map-project_stage_6-spacing:  $map-spacing !default;
   $map-project_stage_6-repeat:   $map-repeat !default;
 
   $map-project_stage_6_old-position: $map-position !default;
   $map-project_stage_6_old-spacing:  $map-spacing !default;
   $map-project_stage_6_old-repeat:   $map-repeat !default;
 
   $map-real-estate-circle-position: $map-position !default;
   $map-real-estate-circle-spacing:  $map-spacing !default;
   $map-real-estate-circle-repeat:   $map-repeat !default;
 
   $map-real_estate_large-position: $map-position !default;
   $map-real_estate_large-spacing:  $map-spacing !default;
   $map-real_estate_large-repeat:   $map-repeat !default;
 
   $map-social-circle-position: $map-position !default;
   $map-social-circle-spacing:  $map-spacing !default;
   $map-social-circle-repeat:   $map-repeat !default;
 
   $map-social-icon-small-position: $map-position !default;
   $map-social-icon-small-spacing:  $map-spacing !default;
   $map-social-icon-small-repeat:   $map-repeat !default;
 
   $map-social-marker-position: $map-position !default;
   $map-social-marker-spacing:  $map-spacing !default;
   $map-social-marker-repeat:   $map-repeat !default;
 
   $map-social_large-position: $map-position !default;
   $map-social_large-spacing:  $map-spacing !default;
   $map-social_large-repeat:   $map-repeat !default;
 
   $map-tourism-related-circle-position: $map-position !default;
   $map-tourism-related-circle-spacing:  $map-spacing !default;
   $map-tourism-related-circle-repeat:   $map-repeat !default;
 
   $map-tourism_related_large-position: $map-position !default;
   $map-tourism_related_large-spacing:  $map-spacing !default;
   $map-tourism_related_large-repeat:   $map-repeat !default;
 
   $map-transport-circle-position: $map-position !default;
   $map-transport-circle-spacing:  $map-spacing !default;
   $map-transport-circle-repeat:   $map-repeat !default;
 
   $map-transport-icon-small-position: $map-position !default;
   $map-transport-icon-small-spacing:  $map-spacing !default;
   $map-transport-icon-small-repeat:   $map-repeat !default;
 
   $map-transport-marker-position: $map-position !default;
   $map-transport-marker-spacing:  $map-spacing !default;
   $map-transport-marker-repeat:   $map-repeat !default;
 
   $map-transport_large-position: $map-position !default;
   $map-transport_large-spacing:  $map-spacing !default;
   $map-transport_large-repeat:   $map-repeat !default;
 
   $map-urban-design-planning-circle-position: $map-position !default;
   $map-urban-design-planning-circle-spacing:  $map-spacing !default;
   $map-urban-design-planning-circle-repeat:   $map-repeat !default;
 
   $map-urban-planning-design-circle-position: $map-position !default;
   $map-urban-planning-design-circle-spacing:  $map-spacing !default;
   $map-urban-planning-design-circle-repeat:   $map-repeat !default;
 
   $map-urban_design_planning_large-position: $map-position !default;
   $map-urban_design_planning_large-spacing:  $map-spacing !default;
   $map-urban_design_planning_large-repeat:   $map-repeat !default;
 
   $map-urban_planning_design_large-position: $map-position !default;
   $map-urban_planning_design_large-spacing:  $map-spacing !default;
   $map-urban_planning_design_large-repeat:   $map-repeat !default;
 
   $map-view_project_arrow-position: $map-position !default;
   $map-view_project_arrow-spacing:  $map-spacing !default;
   $map-view_project_arrow-repeat:   $map-repeat !default;
 
   $map-water-circle-position: $map-position !default;
   $map-water-circle-spacing:  $map-spacing !default;
   $map-water-circle-repeat:   $map-repeat !default;
 
   $map-water-icon-small-position: $map-position !default;
   $map-water-icon-small-spacing:  $map-spacing !default;
   $map-water-icon-small-repeat:   $map-repeat !default;
 
   $map-water-marker-position: $map-position !default;
   $map-water-marker-spacing:  $map-spacing !default;
   $map-water-marker-repeat:   $map-repeat !default;
 
   $map-water_large-position: $map-position !default;
   $map-water_large-spacing:  $map-spacing !default;
   $map-water_large-repeat:   $map-repeat !default;
 
   $map-word_bubble_large-position: $map-position !default;
   $map-word_bubble_large-spacing:  $map-spacing !default;
   $map-word_bubble_large-repeat:   $map-repeat !default;
 

 $map-sprites: sprite-map("map/*.png",
 
   $map-comm_large-position: $map-comm_large-position, 
   $map-comm_large-spacing:  $map-comm_large-spacing, 
   $map-comm_large-repeat:   $map-comm_large-repeat,
 
   $map-dropdown-position: $map-dropdown-position, 
   $map-dropdown-spacing:  $map-dropdown-spacing, 
   $map-dropdown-repeat:   $map-dropdown-repeat,
 
   $map-empty_pin_hover-position: $map-empty_pin_hover-position, 
   $map-empty_pin_hover-spacing:  $map-empty_pin_hover-spacing, 
   $map-empty_pin_hover-repeat:   $map-empty_pin_hover-repeat,
 
   $map-energy-circle-position: $map-energy-circle-position, 
   $map-energy-circle-spacing:  $map-energy-circle-spacing, 
   $map-energy-circle-repeat:   $map-energy-circle-repeat,
 
   $map-energy-icon-small-position: $map-energy-icon-small-position, 
   $map-energy-icon-small-spacing:  $map-energy-icon-small-spacing, 
   $map-energy-icon-small-repeat:   $map-energy-icon-small-repeat,
 
   $map-energy-marker-position: $map-energy-marker-position, 
   $map-energy-marker-spacing:  $map-energy-marker-spacing, 
   $map-energy-marker-repeat:   $map-energy-marker-repeat,
 
   $map-energy_large-position: $map-energy_large-position, 
   $map-energy_large-spacing:  $map-energy_large-spacing, 
   $map-energy_large-repeat:   $map-energy_large-repeat,
 
   $map-hover-marker-position: $map-hover-marker-position, 
   $map-hover-marker-spacing:  $map-hover-marker-spacing, 
   $map-hover-marker-repeat:   $map-hover-marker-repeat,
 
   $map-industrial-circle-position: $map-industrial-circle-position, 
   $map-industrial-circle-spacing:  $map-industrial-circle-spacing, 
   $map-industrial-circle-repeat:   $map-industrial-circle-repeat,
 
   $map-industrial_large-position: $map-industrial_large-position, 
   $map-industrial_large-spacing:  $map-industrial_large-spacing, 
   $map-industrial_large-repeat:   $map-industrial_large-repeat,
 
   $map-industrial_largepng-position: $map-industrial_largepng-position, 
   $map-industrial_largepng-spacing:  $map-industrial_largepng-spacing, 
   $map-industrial_largepng-repeat:   $map-industrial_largepng-repeat,
 
   $map-information-communication-technologies-circle-position: $map-information-communication-technologies-circle-position, 
   $map-information-communication-technologies-circle-spacing:  $map-information-communication-technologies-circle-spacing, 
   $map-information-communication-technologies-circle-repeat:   $map-information-communication-technologies-circle-repeat,
 
   $map-information-communication-technologies-icons-small-position: $map-information-communication-technologies-icons-small-position, 
   $map-information-communication-technologies-icons-small-spacing:  $map-information-communication-technologies-icons-small-spacing, 
   $map-information-communication-technologies-icons-small-repeat:   $map-information-communication-technologies-icons-small-repeat,
 
   $map-information_communication_technologies_large-position: $map-information_communication_technologies_large-position, 
   $map-information_communication_technologies_large-spacing:  $map-information_communication_technologies_large-spacing, 
   $map-information_communication_technologies_large-repeat:   $map-information_communication_technologies_large-repeat,
 
   $map-it-circle-position: $map-it-circle-position, 
   $map-it-circle-spacing:  $map-it-circle-spacing, 
   $map-it-circle-repeat:   $map-it-circle-repeat,
 
   $map-it-icon-small-position: $map-it-icon-small-position, 
   $map-it-icon-small-spacing:  $map-it-icon-small-spacing, 
   $map-it-icon-small-repeat:   $map-it-icon-small-repeat,
 
   $map-it-marker-position: $map-it-marker-position, 
   $map-it-marker-spacing:  $map-it-marker-spacing, 
   $map-it-marker-repeat:   $map-it-marker-repeat,
 
   $map-lightning_large-position: $map-lightning_large-position, 
   $map-lightning_large-spacing:  $map-lightning_large-spacing, 
   $map-lightning_large-repeat:   $map-lightning_large-repeat,
 
   $map-logistics-circle-position: $map-logistics-circle-position, 
   $map-logistics-circle-spacing:  $map-logistics-circle-spacing, 
   $map-logistics-circle-repeat:   $map-logistics-circle-repeat,
 
   $map-logistics_big-position: $map-logistics_big-position, 
   $map-logistics_big-spacing:  $map-logistics_big-spacing, 
   $map-logistics_big-repeat:   $map-logistics_big-repeat,
 
   $map-logistics_large-position: $map-logistics_large-position, 
   $map-logistics_large-spacing:  $map-logistics_large-spacing, 
   $map-logistics_large-repeat:   $map-logistics_large-repeat,
 
   $map-map-tooltip-position: $map-map-tooltip-position, 
   $map-map-tooltip-spacing:  $map-map-tooltip-spacing, 
   $map-map-tooltip-repeat:   $map-map-tooltip-repeat,
 
   $map-map_cal_1-position: $map-map_cal_1-position, 
   $map-map_cal_1-spacing:  $map-map_cal_1-spacing, 
   $map-map_cal_1-repeat:   $map-map_cal_1-repeat,
 
   $map-map_cal_2-position: $map-map_cal_2-position, 
   $map-map_cal_2-spacing:  $map-map_cal_2-spacing, 
   $map-map_cal_2-repeat:   $map-map_cal_2-repeat,
 
   $map-map_money-position: $map-map_money-position, 
   $map-map_money-spacing:  $map-map_money-spacing, 
   $map-map_money-repeat:   $map-map_money-repeat,
 
   $map-map_person-position: $map-map_person-position, 
   $map-map_person-spacing:  $map-map_person-spacing, 
   $map-map_person-repeat:   $map-map_person-repeat,
 
   $map-map_pin-position: $map-map_pin-position, 
   $map-map_pin-spacing:  $map-map_pin-spacing, 
   $map-map_pin-repeat:   $map-map_pin-repeat,
 
   $map-map_pin_empty-position: $map-map_pin_empty-position, 
   $map-map_pin_empty-spacing:  $map-map_pin_empty-spacing, 
   $map-map_pin_empty-repeat:   $map-map_pin_empty-repeat,
 
   $map-marker-gray-position: $map-marker-gray-position, 
   $map-marker-gray-spacing:  $map-marker-gray-spacing, 
   $map-marker-gray-repeat:   $map-marker-gray-repeat,
 
   $map-mining-circle-position: $map-mining-circle-position, 
   $map-mining-circle-spacing:  $map-mining-circle-spacing, 
   $map-mining-circle-repeat:   $map-mining-circle-repeat,
 
   $map-mining-icon-small-position: $map-mining-icon-small-position, 
   $map-mining-icon-small-spacing:  $map-mining-icon-small-spacing, 
   $map-mining-icon-small-repeat:   $map-mining-icon-small-repeat,
 
   $map-mining-marker-position: $map-mining-marker-position, 
   $map-mining-marker-spacing:  $map-mining-marker-spacing, 
   $map-mining-marker-repeat:   $map-mining-marker-repeat,
 
   $map-mining-related-circle-position: $map-mining-related-circle-position, 
   $map-mining-related-circle-spacing:  $map-mining-related-circle-spacing, 
   $map-mining-related-circle-repeat:   $map-mining-related-circle-repeat,
 
   $map-mining-related-icon-small-position: $map-mining-related-icon-small-position, 
   $map-mining-related-icon-small-spacing:  $map-mining-related-icon-small-spacing, 
   $map-mining-related-icon-small-repeat:   $map-mining-related-icon-small-repeat,
 
   $map-mining_large-position: $map-mining_large-position, 
   $map-mining_large-spacing:  $map-mining_large-spacing, 
   $map-mining_large-repeat:   $map-mining_large-repeat,
 
   $map-oil-circle-position: $map-oil-circle-position, 
   $map-oil-circle-spacing:  $map-oil-circle-spacing, 
   $map-oil-circle-repeat:   $map-oil-circle-repeat,
 
   $map-oil-gas-circle-position: $map-oil-gas-circle-position, 
   $map-oil-gas-circle-spacing:  $map-oil-gas-circle-spacing, 
   $map-oil-gas-circle-repeat:   $map-oil-gas-circle-repeat,
 
   $map-oil-gas-icon-small-position: $map-oil-gas-icon-small-position, 
   $map-oil-gas-icon-small-spacing:  $map-oil-gas-icon-small-spacing, 
   $map-oil-gas-icon-small-repeat:   $map-oil-gas-icon-small-repeat,
 
   $map-oil-gas-marke-position: $map-oil-gas-marke-position, 
   $map-oil-gas-marke-spacing:  $map-oil-gas-marke-spacing, 
   $map-oil-gas-marke-repeat:   $map-oil-gas-marke-repeat,
 
   $map-oil-icon-small-position: $map-oil-icon-small-position, 
   $map-oil-icon-small-spacing:  $map-oil-icon-small-spacing, 
   $map-oil-icon-small-repeat:   $map-oil-icon-small-repeat,
 
   $map-oil-marker-position: $map-oil-marker-position, 
   $map-oil-marker-spacing:  $map-oil-marker-spacing, 
   $map-oil-marker-repeat:   $map-oil-marker-repeat,
 
   $map-oil_gas_large-position: $map-oil_gas_large-position, 
   $map-oil_gas_large-spacing:  $map-oil_gas_large-spacing, 
   $map-oil_gas_large-repeat:   $map-oil_gas_large-repeat,
 
   $map-oil_large-position: $map-oil_large-position, 
   $map-oil_large-spacing:  $map-oil_large-spacing, 
   $map-oil_large-repeat:   $map-oil_large-repeat,
 
   $map-open_project_bg-position: $map-open_project_bg-position, 
   $map-open_project_bg-spacing:  $map-open_project_bg-spacing, 
   $map-open_project_bg-repeat:   $map-open_project_bg-repeat,
 
   $map-other_big-position: $map-other_big-position, 
   $map-other_big-spacing:  $map-other_big-spacing, 
   $map-other_big-repeat:   $map-other_big-repeat,
 
   $map-pin_comm-position: $map-pin_comm-position, 
   $map-pin_comm-spacing:  $map-pin_comm-spacing, 
   $map-pin_comm-repeat:   $map-pin_comm-repeat,
 
   $map-pin_lightning-position: $map-pin_lightning-position, 
   $map-pin_lightning-spacing:  $map-pin_lightning-spacing, 
   $map-pin_lightning-repeat:   $map-pin_lightning-repeat,
 
   $map-pin_mining-position: $map-pin_mining-position, 
   $map-pin_mining-spacing:  $map-pin_mining-spacing, 
   $map-pin_mining-repeat:   $map-pin_mining-repeat,
 
   $map-pin_oil-position: $map-pin_oil-position, 
   $map-pin_oil-spacing:  $map-pin_oil-spacing, 
   $map-pin_oil-repeat:   $map-pin_oil-repeat,
 
   $map-pin_social-position: $map-pin_social-position, 
   $map-pin_social-spacing:  $map-pin_social-spacing, 
   $map-pin_social-repeat:   $map-pin_social-repeat,
 
   $map-pin_transport-position: $map-pin_transport-position, 
   $map-pin_transport-spacing:  $map-pin_transport-spacing, 
   $map-pin_transport-repeat:   $map-pin_transport-repeat,
 
   $map-pin_urban_design_planning-position: $map-pin_urban_design_planning-position, 
   $map-pin_urban_design_planning-spacing:  $map-pin_urban_design_planning-spacing, 
   $map-pin_urban_design_planning-repeat:   $map-pin_urban_design_planning-repeat,
 
   $map-pin_water-position: $map-pin_water-position, 
   $map-pin_water-spacing:  $map-pin_water-spacing, 
   $map-pin_water-repeat:   $map-pin_water-repeat,
 
   $map-pin_word_bubble-position: $map-pin_word_bubble-position, 
   $map-pin_word_bubble-spacing:  $map-pin_word_bubble-spacing, 
   $map-pin_word_bubble-repeat:   $map-pin_word_bubble-repeat,
 
   $map-project_icon_comm-position: $map-project_icon_comm-position, 
   $map-project_icon_comm-spacing:  $map-project_icon_comm-spacing, 
   $map-project_icon_comm-repeat:   $map-project_icon_comm-repeat,
 
   $map-project_icon_comm_hover-position: $map-project_icon_comm_hover-position, 
   $map-project_icon_comm_hover-spacing:  $map-project_icon_comm_hover-spacing, 
   $map-project_icon_comm_hover-repeat:   $map-project_icon_comm_hover-repeat,
 
   $map-project_icon_energy-position: $map-project_icon_energy-position, 
   $map-project_icon_energy-spacing:  $map-project_icon_energy-spacing, 
   $map-project_icon_energy-repeat:   $map-project_icon_energy-repeat,
 
   $map-project_icon_energy_hover-position: $map-project_icon_energy_hover-position, 
   $map-project_icon_energy_hover-spacing:  $map-project_icon_energy_hover-spacing, 
   $map-project_icon_energy_hover-repeat:   $map-project_icon_energy_hover-repeat,
 
   $map-project_icon_industrial-position: $map-project_icon_industrial-position, 
   $map-project_icon_industrial-spacing:  $map-project_icon_industrial-spacing, 
   $map-project_icon_industrial-repeat:   $map-project_icon_industrial-repeat,
 
   $map-project_icon_industrial_hover-position: $map-project_icon_industrial_hover-position, 
   $map-project_icon_industrial_hover-spacing:  $map-project_icon_industrial_hover-spacing, 
   $map-project_icon_industrial_hover-repeat:   $map-project_icon_industrial_hover-repeat,
 
   $map-project_icon_logistics-position: $map-project_icon_logistics-position, 
   $map-project_icon_logistics-spacing:  $map-project_icon_logistics-spacing, 
   $map-project_icon_logistics-repeat:   $map-project_icon_logistics-repeat,
 
   $map-project_icon_logistics_hover-position: $map-project_icon_logistics_hover-position, 
   $map-project_icon_logistics_hover-spacing:  $map-project_icon_logistics_hover-spacing, 
   $map-project_icon_logistics_hover-repeat:   $map-project_icon_logistics_hover-repeat,
 
   $map-project_icon_mining-position: $map-project_icon_mining-position, 
   $map-project_icon_mining-spacing:  $map-project_icon_mining-spacing, 
   $map-project_icon_mining-repeat:   $map-project_icon_mining-repeat,
 
   $map-project_icon_mining_hover-position: $map-project_icon_mining_hover-position, 
   $map-project_icon_mining_hover-spacing:  $map-project_icon_mining_hover-spacing, 
   $map-project_icon_mining_hover-repeat:   $map-project_icon_mining_hover-repeat,
 
   $map-project_icon_oil_gas-position: $map-project_icon_oil_gas-position, 
   $map-project_icon_oil_gas-spacing:  $map-project_icon_oil_gas-spacing, 
   $map-project_icon_oil_gas-repeat:   $map-project_icon_oil_gas-repeat,
 
   $map-project_icon_oil_gas_hover-position: $map-project_icon_oil_gas_hover-position, 
   $map-project_icon_oil_gas_hover-spacing:  $map-project_icon_oil_gas_hover-spacing, 
   $map-project_icon_oil_gas_hover-repeat:   $map-project_icon_oil_gas_hover-repeat,
 
   $map-project_icon_other-position: $map-project_icon_other-position, 
   $map-project_icon_other-spacing:  $map-project_icon_other-spacing, 
   $map-project_icon_other-repeat:   $map-project_icon_other-repeat,
 
   $map-project_icon_other_hover-position: $map-project_icon_other_hover-position, 
   $map-project_icon_other_hover-spacing:  $map-project_icon_other_hover-spacing, 
   $map-project_icon_other_hover-repeat:   $map-project_icon_other_hover-repeat,
 
   $map-project_icon_real_estate-position: $map-project_icon_real_estate-position, 
   $map-project_icon_real_estate-spacing:  $map-project_icon_real_estate-spacing, 
   $map-project_icon_real_estate-repeat:   $map-project_icon_real_estate-repeat,
 
   $map-project_icon_real_estate_hover-position: $map-project_icon_real_estate_hover-position, 
   $map-project_icon_real_estate_hover-spacing:  $map-project_icon_real_estate_hover-spacing, 
   $map-project_icon_real_estate_hover-repeat:   $map-project_icon_real_estate_hover-repeat,
 
   $map-project_icon_social-position: $map-project_icon_social-position, 
   $map-project_icon_social-spacing:  $map-project_icon_social-spacing, 
   $map-project_icon_social-repeat:   $map-project_icon_social-repeat,
 
   $map-project_icon_social_hover-position: $map-project_icon_social_hover-position, 
   $map-project_icon_social_hover-spacing:  $map-project_icon_social_hover-spacing, 
   $map-project_icon_social_hover-repeat:   $map-project_icon_social_hover-repeat,
 
   $map-project_icon_tourism_related-position: $map-project_icon_tourism_related-position, 
   $map-project_icon_tourism_related-spacing:  $map-project_icon_tourism_related-spacing, 
   $map-project_icon_tourism_related-repeat:   $map-project_icon_tourism_related-repeat,
 
   $map-project_icon_tourism_related_hover-position: $map-project_icon_tourism_related_hover-position, 
   $map-project_icon_tourism_related_hover-spacing:  $map-project_icon_tourism_related_hover-spacing, 
   $map-project_icon_tourism_related_hover-repeat:   $map-project_icon_tourism_related_hover-repeat,
 
   $map-project_icon_transportation-position: $map-project_icon_transportation-position, 
   $map-project_icon_transportation-spacing:  $map-project_icon_transportation-spacing, 
   $map-project_icon_transportation-repeat:   $map-project_icon_transportation-repeat,
 
   $map-project_icon_transportation_hover-position: $map-project_icon_transportation_hover-position, 
   $map-project_icon_transportation_hover-spacing:  $map-project_icon_transportation_hover-spacing, 
   $map-project_icon_transportation_hover-repeat:   $map-project_icon_transportation_hover-repeat,
 
   $map-project_icon_urban_design_planning-position: $map-project_icon_urban_design_planning-position, 
   $map-project_icon_urban_design_planning-spacing:  $map-project_icon_urban_design_planning-spacing, 
   $map-project_icon_urban_design_planning-repeat:   $map-project_icon_urban_design_planning-repeat,
 
   $map-project_icon_urban_design_planning_hover-position: $map-project_icon_urban_design_planning_hover-position, 
   $map-project_icon_urban_design_planning_hover-spacing:  $map-project_icon_urban_design_planning_hover-spacing, 
   $map-project_icon_urban_design_planning_hover-repeat:   $map-project_icon_urban_design_planning_hover-repeat,
 
   $map-project_icon_urban_planning_design-position: $map-project_icon_urban_planning_design-position, 
   $map-project_icon_urban_planning_design-spacing:  $map-project_icon_urban_planning_design-spacing, 
   $map-project_icon_urban_planning_design-repeat:   $map-project_icon_urban_planning_design-repeat,
 
   $map-project_icon_urban_planning_design_hover-position: $map-project_icon_urban_planning_design_hover-position, 
   $map-project_icon_urban_planning_design_hover-spacing:  $map-project_icon_urban_planning_design_hover-spacing, 
   $map-project_icon_urban_planning_design_hover-repeat:   $map-project_icon_urban_planning_design_hover-repeat,
 
   $map-project_icon_water-position: $map-project_icon_water-position, 
   $map-project_icon_water-spacing:  $map-project_icon_water-spacing, 
   $map-project_icon_water-repeat:   $map-project_icon_water-repeat,
 
   $map-project_icon_water_hover-position: $map-project_icon_water_hover-position, 
   $map-project_icon_water_hover-spacing:  $map-project_icon_water_hover-spacing, 
   $map-project_icon_water_hover-repeat:   $map-project_icon_water_hover-repeat,
 
   $map-project_stage_1-position: $map-project_stage_1-position, 
   $map-project_stage_1-spacing:  $map-project_stage_1-spacing, 
   $map-project_stage_1-repeat:   $map-project_stage_1-repeat,
 
   $map-project_stage_1_old-position: $map-project_stage_1_old-position, 
   $map-project_stage_1_old-spacing:  $map-project_stage_1_old-spacing, 
   $map-project_stage_1_old-repeat:   $map-project_stage_1_old-repeat,
 
   $map-project_stage_2-position: $map-project_stage_2-position, 
   $map-project_stage_2-spacing:  $map-project_stage_2-spacing, 
   $map-project_stage_2-repeat:   $map-project_stage_2-repeat,
 
   $map-project_stage_2_old-position: $map-project_stage_2_old-position, 
   $map-project_stage_2_old-spacing:  $map-project_stage_2_old-spacing, 
   $map-project_stage_2_old-repeat:   $map-project_stage_2_old-repeat,
 
   $map-project_stage_3-position: $map-project_stage_3-position, 
   $map-project_stage_3-spacing:  $map-project_stage_3-spacing, 
   $map-project_stage_3-repeat:   $map-project_stage_3-repeat,
 
   $map-project_stage_3_old-position: $map-project_stage_3_old-position, 
   $map-project_stage_3_old-spacing:  $map-project_stage_3_old-spacing, 
   $map-project_stage_3_old-repeat:   $map-project_stage_3_old-repeat,
 
   $map-project_stage_4-position: $map-project_stage_4-position, 
   $map-project_stage_4-spacing:  $map-project_stage_4-spacing, 
   $map-project_stage_4-repeat:   $map-project_stage_4-repeat,
 
   $map-project_stage_4_old-position: $map-project_stage_4_old-position, 
   $map-project_stage_4_old-spacing:  $map-project_stage_4_old-spacing, 
   $map-project_stage_4_old-repeat:   $map-project_stage_4_old-repeat,
 
   $map-project_stage_5-position: $map-project_stage_5-position, 
   $map-project_stage_5-spacing:  $map-project_stage_5-spacing, 
   $map-project_stage_5-repeat:   $map-project_stage_5-repeat,
 
   $map-project_stage_5_old-position: $map-project_stage_5_old-position, 
   $map-project_stage_5_old-spacing:  $map-project_stage_5_old-spacing, 
   $map-project_stage_5_old-repeat:   $map-project_stage_5_old-repeat,
 
   $map-project_stage_6-position: $map-project_stage_6-position, 
   $map-project_stage_6-spacing:  $map-project_stage_6-spacing, 
   $map-project_stage_6-repeat:   $map-project_stage_6-repeat,
 
   $map-project_stage_6_old-position: $map-project_stage_6_old-position, 
   $map-project_stage_6_old-spacing:  $map-project_stage_6_old-spacing, 
   $map-project_stage_6_old-repeat:   $map-project_stage_6_old-repeat,
 
   $map-real-estate-circle-position: $map-real-estate-circle-position, 
   $map-real-estate-circle-spacing:  $map-real-estate-circle-spacing, 
   $map-real-estate-circle-repeat:   $map-real-estate-circle-repeat,
 
   $map-real_estate_large-position: $map-real_estate_large-position, 
   $map-real_estate_large-spacing:  $map-real_estate_large-spacing, 
   $map-real_estate_large-repeat:   $map-real_estate_large-repeat,
 
   $map-social-circle-position: $map-social-circle-position, 
   $map-social-circle-spacing:  $map-social-circle-spacing, 
   $map-social-circle-repeat:   $map-social-circle-repeat,
 
   $map-social-icon-small-position: $map-social-icon-small-position, 
   $map-social-icon-small-spacing:  $map-social-icon-small-spacing, 
   $map-social-icon-small-repeat:   $map-social-icon-small-repeat,
 
   $map-social-marker-position: $map-social-marker-position, 
   $map-social-marker-spacing:  $map-social-marker-spacing, 
   $map-social-marker-repeat:   $map-social-marker-repeat,
 
   $map-social_large-position: $map-social_large-position, 
   $map-social_large-spacing:  $map-social_large-spacing, 
   $map-social_large-repeat:   $map-social_large-repeat,
 
   $map-tourism-related-circle-position: $map-tourism-related-circle-position, 
   $map-tourism-related-circle-spacing:  $map-tourism-related-circle-spacing, 
   $map-tourism-related-circle-repeat:   $map-tourism-related-circle-repeat,
 
   $map-tourism_related_large-position: $map-tourism_related_large-position, 
   $map-tourism_related_large-spacing:  $map-tourism_related_large-spacing, 
   $map-tourism_related_large-repeat:   $map-tourism_related_large-repeat,
 
   $map-transport-circle-position: $map-transport-circle-position, 
   $map-transport-circle-spacing:  $map-transport-circle-spacing, 
   $map-transport-circle-repeat:   $map-transport-circle-repeat,
 
   $map-transport-icon-small-position: $map-transport-icon-small-position, 
   $map-transport-icon-small-spacing:  $map-transport-icon-small-spacing, 
   $map-transport-icon-small-repeat:   $map-transport-icon-small-repeat,
 
   $map-transport-marker-position: $map-transport-marker-position, 
   $map-transport-marker-spacing:  $map-transport-marker-spacing, 
   $map-transport-marker-repeat:   $map-transport-marker-repeat,
 
   $map-transport_large-position: $map-transport_large-position, 
   $map-transport_large-spacing:  $map-transport_large-spacing, 
   $map-transport_large-repeat:   $map-transport_large-repeat,
 
   $map-urban-design-planning-circle-position: $map-urban-design-planning-circle-position, 
   $map-urban-design-planning-circle-spacing:  $map-urban-design-planning-circle-spacing, 
   $map-urban-design-planning-circle-repeat:   $map-urban-design-planning-circle-repeat,
 
   $map-urban-planning-design-circle-position: $map-urban-planning-design-circle-position, 
   $map-urban-planning-design-circle-spacing:  $map-urban-planning-design-circle-spacing, 
   $map-urban-planning-design-circle-repeat:   $map-urban-planning-design-circle-repeat,
 
   $map-urban_design_planning_large-position: $map-urban_design_planning_large-position, 
   $map-urban_design_planning_large-spacing:  $map-urban_design_planning_large-spacing, 
   $map-urban_design_planning_large-repeat:   $map-urban_design_planning_large-repeat,
 
   $map-urban_planning_design_large-position: $map-urban_planning_design_large-position, 
   $map-urban_planning_design_large-spacing:  $map-urban_planning_design_large-spacing, 
   $map-urban_planning_design_large-repeat:   $map-urban_planning_design_large-repeat,
 
   $map-view_project_arrow-position: $map-view_project_arrow-position, 
   $map-view_project_arrow-spacing:  $map-view_project_arrow-spacing, 
   $map-view_project_arrow-repeat:   $map-view_project_arrow-repeat,
 
   $map-water-circle-position: $map-water-circle-position, 
   $map-water-circle-spacing:  $map-water-circle-spacing, 
   $map-water-circle-repeat:   $map-water-circle-repeat,
 
   $map-water-icon-small-position: $map-water-icon-small-position, 
   $map-water-icon-small-spacing:  $map-water-icon-small-spacing, 
   $map-water-icon-small-repeat:   $map-water-icon-small-repeat,
 
   $map-water-marker-position: $map-water-marker-position, 
   $map-water-marker-spacing:  $map-water-marker-spacing, 
   $map-water-marker-repeat:   $map-water-marker-repeat,
 
   $map-water_large-position: $map-water_large-position, 
   $map-water_large-spacing:  $map-water_large-spacing, 
   $map-water_large-repeat:   $map-water_large-repeat,
 
   $map-word_bubble_large-position: $map-word_bubble_large-position, 
   $map-word_bubble_large-spacing:  $map-word_bubble_large-spacing, 
   $map-word_bubble_large-repeat:   $map-word_bubble_large-repeat,
 
 $layout   : $map-layout,
 $cleanup  : $map-clean-up,
 $spacing  : $map-spacing,
 $position : $map-position,
 $sort-by  : $map-sort-by
 );


// All sprites should extend this class
// The map-sprite mixin will do so for you.
@if $map-inline {
  #{$map-sprite-base-class} {
    background-image: inline-sprite($map-sprites);
  } 
} @else {
  #{$map-sprite-base-class} {
    background-image: sprite-url($map-sprites);
    background-repeat: no-repeat;
  }
}
//sass functions to return the dimensions of a sprite image as units

  @function map-sprite-width($name) {
    @return sprite-width($map-sprites, $name);
  }

  @function map-sprite-height($name) {
    @return sprite-height($map-sprites, $name);
  }


// Use this to set the dimensions of an element
// based on the size of the original image.
@mixin map-sprite-dimensions($name) {
  @include sprite-dimensions($map-sprites, $name)
}

// Move the background position to display the sprite.
@mixin map-sprite-position($name, $offset-x: 0, $offset-y: 0, $use-percentages: $map-use-percentages) {
  @include sprite-background-position($map-sprites, $name, $offset-x, $offset-y, $use-percentages)
}

// Extends the sprite base class and set the background position for the desired sprite.
// It will also apply the image dimensions if $dimensions is true.
@mixin map-sprite($name, $dimensions: $map-sprite-dimensions, $offset-x: 0, $offset-y: 0, $use-percentages: $map-use-percentages, $separator: $map-class-separator) {
  @extend #{$map-sprite-base-class};
  @include sprite($map-sprites, $name, $dimensions, $offset-x, $offset-y, $use-percentages, $separator: $separator);
}

@mixin map-sprites($sprite-names, $dimensions: $map-sprite-dimensions, $prefix: sprite-map-name($map-sprites), $offset-x: 0, $offset-y: 0, $use-percentages: $map-use-percentages, $separator: $map-class-separator) {
  @include sprites($map-sprites, $sprite-names, $map-sprite-base-class, $dimensions, $prefix, $offset-x, $offset-y, $use-percentages, $separator: $separator)
}

// Generates a class for each sprited image.
@mixin all-map-sprites($dimensions: $map-sprite-dimensions, $prefix: sprite-map-name($map-sprites), $offset-x: 0, $offset-y: 0, $use-percentages: $map-use-percentages, $separator: $map-class-separator) {
  @include map-sprites(comm_large dropdown empty_pin_hover energy-circle energy-icon-small energy-marker energy_large hover-marker industrial-circle industrial_large industrial_largepng information-communication-technologies-circle information-communication-technologies-icons-small information_communication_technologies_large it-circle it-icon-small it-marker lightning_large logistics-circle logistics_big logistics_large map-tooltip map_cal_1 map_cal_2 map_money map_person map_pin map_pin_empty marker-gray mining-circle mining-icon-small mining-marker mining-related-circle mining-related-icon-small mining_large oil-circle oil-gas-circle oil-gas-icon-small oil-gas-marke oil-icon-small oil-marker oil_gas_large oil_large open_project_bg other_big pin_comm pin_lightning pin_mining pin_oil pin_social pin_transport pin_urban_design_planning pin_water pin_word_bubble project_icon_comm project_icon_comm_hover project_icon_energy project_icon_energy_hover project_icon_industrial project_icon_industrial_hover project_icon_logistics project_icon_logistics_hover project_icon_mining project_icon_mining_hover project_icon_oil_gas project_icon_oil_gas_hover project_icon_other project_icon_other_hover project_icon_real_estate project_icon_real_estate_hover project_icon_social project_icon_social_hover project_icon_tourism_related project_icon_tourism_related_hover project_icon_transportation project_icon_transportation_hover project_icon_urban_design_planning project_icon_urban_design_planning_hover project_icon_urban_planning_design project_icon_urban_planning_design_hover project_icon_water project_icon_water_hover project_stage_1 project_stage_1_old project_stage_2 project_stage_2_old project_stage_3 project_stage_3_old project_stage_4 project_stage_4_old project_stage_5 project_stage_5_old project_stage_6 project_stage_6_old real-estate-circle real_estate_large social-circle social-icon-small social-marker social_large tourism-related-circle tourism_related_large transport-circle transport-icon-small transport-marker transport_large urban-design-planning-circle urban-planning-design-circle urban_design_planning_large urban_planning_design_large view_project_arrow water-circle water-icon-small water-marker water_large word_bubble_large, $dimensions, $prefix, $offset-x, $offset-y, $use-percentages, $separator: $separator);
}
