.map-comm_large { background: url('/images/map/comm_large.png') no-repeat 0 0; }
.map-dropdown { background: url('/images/map/dropdown.png') no-repeat 0 0; }
.map-empty_pin_hover { background: url('/images/map/empty_pin_hover.png') no-repeat 0 0; }
.map-energy-circle { background: url('/images/map/energy-circle.png') no-repeat 0 0; }
.map-energy-icon-small { background: url('/images/map/energy-icon-small.png') no-repeat 0 0; }
.map-energy-marker { background: url('/images/map/energy-marker.png') no-repeat 0 0; }
.map-energy_large { background: url('/images/map/energy_large.png') no-repeat 0 0; }
.map-hover-marker { background: url('/images/map/hover-marker.png') no-repeat 0 0; }
.map-industrial-circle { background: url('/images/map/industrial-circle.png') no-repeat 0 0; }
.map-industrial_large { background: url('/images/map/industrial_large.png') no-repeat 0 0; }
.map-industrial_largepng { background: url('/images/map/industrial_largepng.png') no-repeat 0 0; }
.map-information-communication-technologies-circle { background: url('/images/map/information-communication-technologies-circle.png') no-repeat 0 0; }
.map-information-communication-technologies-icons-small { background: url('/images/map/information-communication-technologies-icons-small.png') no-repeat 0 0; }
.map-information_communication_technologies_large { background: url('/images/map/information_communication_technologies_large.png') no-repeat 0 0; }
.map-it-circle { background: url('/images/map/it-circle.png') no-repeat 0 0; }
.map-it-icon-small { background: url('/images/map/it-icon-small.png') no-repeat 0 0; }
.map-it-marker { background: url('/images/map/it-marker.png') no-repeat 0 0; }
.map-lightning_large { background: url('/images/map/lightning_large.png') no-repeat 0 0; }
.map-logistics-circle { background: url('/images/map/logistics-circle.png') no-repeat 0 0; }
.map-logistics_big { background: url('/images/map/logistics_big.png') no-repeat 0 0; }
.map-logistics_large { background: url('/images/map/logistics_large.png') no-repeat 0 0; }
.map-map-tooltip { background: url('/images/map/map-tooltip.png') no-repeat 0 0; }
.map-map_cal_1 { background: url('/images/map/map_cal_1.png') no-repeat 0 0; }
.map-map_cal_2 { background: url('/images/map/map_cal_2.png') no-repeat 0 0; }
.map-map_money { background: url('/images/map/map_money.png') no-repeat 0 0; }
.map-map_person { background: url('/images/map/map_person.png') no-repeat 0 0; }
.map-map_pin { background: url('/images/map/map_pin.png') no-repeat 0 0; }
.map-map_pin_empty { background: url('/images/map/map_pin_empty.png') no-repeat 0 0; }
.map-marker-gray { background: url('/images/map/marker-gray.png') no-repeat 0 0; }
.map-mining-circle { background: url('/images/map/mining-circle.png') no-repeat 0 0; }
.map-mining-icon-small { background: url('/images/map/mining-icon-small.png') no-repeat 0 0; }
.map-mining-marker { background: url('/images/map/mining-marker.png') no-repeat 0 0; }
.map-mining-related-circle { background: url('/images/map/mining-related-circle.png') no-repeat 0 0; }
.map-mining-related-icon-small { background: url('/images/map/mining-related-icon-small.png') no-repeat 0 0; }
.map-mining_large { background: url('/images/map/mining_large.png') no-repeat 0 0; }
.map-oil-circle { background: url('/images/map/oil-circle.png') no-repeat 0 0; }
.map-oil-gas-circle { background: url('/images/map/oil-gas-circle.png') no-repeat 0 0; }
.map-oil-gas-icon-small { background: url('/images/map/oil-gas-icon-small.png') no-repeat 0 0; }
.map-oil-gas-marke { background: url('/images/map/oil-gas-marke.png') no-repeat 0 0; }
.map-oil-icon-small { background: url('/images/map/oil-icon-small.png') no-repeat 0 0; }
.map-oil-marker { background: url('/images/map/oil-marker.png') no-repeat 0 0; }
.map-oil_gas_large { background: url('/images/map/oil_gas_large.png') no-repeat 0 0; }
.map-oil_large { background: url('/images/map/oil_large.png') no-repeat 0 0; }
.map-open_project_bg { background: url('/images/map/open_project_bg.png') no-repeat 0 0; }
.map-other_big { background: url('/images/map/other_big.png') no-repeat 0 0; }
.map-pin_comm { background: url('/images/map/pin_comm.png') no-repeat 0 0; }
.map-pin_lightning { background: url('/images/map/pin_lightning.png') no-repeat 0 0; }
.map-pin_mining { background: url('/images/map/pin_mining.png') no-repeat 0 0; }
.map-pin_oil { background: url('/images/map/pin_oil.png') no-repeat 0 0; }
.map-pin_social { background: url('/images/map/pin_social.png') no-repeat 0 0; }
.map-pin_transport { background: url('/images/map/pin_transport.png') no-repeat 0 0; }
.map-pin_urban_design_planning { background: url('/images/map/pin_urban_design_planning.png') no-repeat 0 0; }
.map-pin_water { background: url('/images/map/pin_water.png') no-repeat 0 0; }
.map-pin_word_bubble { background: url('/images/map/pin_word_bubble.png') no-repeat 0 0; }
.map-project_icon_comm { background: url('/images/map/project_icon_comm.png') no-repeat 0 0; }
.map-project_icon_comm_hover { background: url('/images/map/project_icon_comm_hover.png') no-repeat 0 0; }
.map-project_icon_energy { background: url('/images/map/project_icon_energy.png') no-repeat 0 0; }
.map-project_icon_energy_hover { background: url('/images/map/project_icon_energy_hover.png') no-repeat 0 0; }
.map-project_icon_industrial { background: url('/images/map/project_icon_industrial.png') no-repeat 0 0; }
.map-project_icon_industrial_hover { background: url('/images/map/project_icon_industrial_hover.png') no-repeat 0 0; }
.map-project_icon_logistics { background: url('/images/map/project_icon_logistics.png') no-repeat 0 0; }
.map-project_icon_logistics_hover { background: url('/images/map/project_icon_logistics_hover.png') no-repeat 0 0; }
.map-project_icon_mining { background: url('/images/map/project_icon_mining.png') no-repeat 0 0; }
.map-project_icon_mining_hover { background: url('/images/map/project_icon_mining_hover.png') no-repeat 0 0; }
.map-project_icon_oil_gas { background: url('/images/map/project_icon_oil_gas.png') no-repeat 0 0; }
.map-project_icon_oil_gas_hover { background: url('/images/map/project_icon_oil_gas_hover.png') no-repeat 0 0; }
.map-project_icon_other { background: url('/images/map/project_icon_other.png') no-repeat 0 0; }
.map-project_icon_other_hover { background: url('/images/map/project_icon_other_hover.png') no-repeat 0 0; }
.map-project_icon_real_estate { background: url('/images/map/project_icon_real_estate.png') no-repeat 0 0; }
.map-project_icon_real_estate_hover { background: url('/images/map/project_icon_real_estate_hover.png') no-repeat 0 0; }
.map-project_icon_social { background: url('/images/map/project_icon_social.png') no-repeat 0 0; }
.map-project_icon_social_hover { background: url('/images/map/project_icon_social_hover.png') no-repeat 0 0; }
.map-project_icon_tourism_related { background: url('/images/map/project_icon_tourism_related.png') no-repeat 0 0; }
.map-project_icon_tourism_related_hover { background: url('/images/map/project_icon_tourism_related_hover.png') no-repeat 0 0; }
.map-project_icon_transportation { background: url('/images/map/project_icon_transportation.png') no-repeat 0 0; }
.map-project_icon_transportation_hover { background: url('/images/map/project_icon_transportation_hover.png') no-repeat 0 0; }
.map-project_icon_urban_design_planning { background: url('/images/map/project_icon_urban_design_planning.png') no-repeat 0 0; }
.map-project_icon_urban_design_planning_hover { background: url('/images/map/project_icon_urban_design_planning_hover.png') no-repeat 0 0; }
.map-project_icon_urban_planning_design { background: url('/images/map/project_icon_urban_planning_design.png') no-repeat 0 0; }
.map-project_icon_urban_planning_design_hover { background: url('/images/map/project_icon_urban_planning_design_hover.png') no-repeat 0 0; }
.map-project_icon_water { background: url('/images/map/project_icon_water.png') no-repeat 0 0; }
.map-project_icon_water_hover { background: url('/images/map/project_icon_water_hover.png') no-repeat 0 0; }
.map-project_stage_1 { background: url('/images/map/project_stage_1.png') no-repeat 0 0; }
.map-project_stage_1_old { background: url('/images/map/project_stage_1_old.png') no-repeat 0 0; }
.map-project_stage_2 { background: url('/images/map/project_stage_2.png') no-repeat 0 0; }
.map-project_stage_2_old { background: url('/images/map/project_stage_2_old.png') no-repeat 0 0; }
.map-project_stage_3 { background: url('/images/map/project_stage_3.png') no-repeat 0 0; }
.map-project_stage_3_old { background: url('/images/map/project_stage_3_old.png') no-repeat 0 0; }
.map-project_stage_4 { background: url('/images/map/project_stage_4.png') no-repeat 0 0; }
.map-project_stage_4_old { background: url('/images/map/project_stage_4_old.png') no-repeat 0 0; }
.map-project_stage_5 { background: url('/images/map/project_stage_5.png') no-repeat 0 0; }
.map-project_stage_5_old { background: url('/images/map/project_stage_5_old.png') no-repeat 0 0; }
.map-project_stage_6 { background: url('/images/map/project_stage_6.png') no-repeat 0 0; }
.map-project_stage_6_old { background: url('/images/map/project_stage_6_old.png') no-repeat 0 0; }
.map-real-estate-circle { background: url('/images/map/real-estate-circle.png') no-repeat 0 0; }
.map-real_estate_large { background: url('/images/map/real_estate_large.png') no-repeat 0 0; }
.map-social-circle { background: url('/images/map/social-circle.png') no-repeat 0 0; }
.map-social-icon-small { background: url('/images/map/social-icon-small.png') no-repeat 0 0; }
.map-social-marker { background: url('/images/map/social-marker.png') no-repeat 0 0; }
.map-social_large { background: url('/images/map/social_large.png') no-repeat 0 0; }
.map-tourism-related-circle { background: url('/images/map/tourism-related-circle.png') no-repeat 0 0; }
.map-tourism_related_large { background: url('/images/map/tourism_related_large.png') no-repeat 0 0; }
.map-transport-circle { background: url('/images/map/transport-circle.png') no-repeat 0 0; }
.map-transport-icon-small { background: url('/images/map/transport-icon-small.png') no-repeat 0 0; }
.map-transport-marker { background: url('/images/map/transport-marker.png') no-repeat 0 0; }
.map-transport_large { background: url('/images/map/transport_large.png') no-repeat 0 0; }
.map-urban-design-planning-circle { background: url('/images/map/urban-design-planning-circle.png') no-repeat 0 0; }
.map-urban-planning-design-circle { background: url('/images/map/urban-planning-design-circle.png') no-repeat 0 0; }
.map-urban_design_planning_large { background: url('/images/map/urban_design_planning_large.png') no-repeat 0 0; }
.map-urban_planning_design_large { background: url('/images/map/urban_planning_design_large.png') no-repeat 0 0; }
.map-view_project_arrow { background: url('/images/map/view_project_arrow.png') no-repeat 0 0; }
.map-water-circle { background: url('/images/map/water-circle.png') no-repeat 0 0; }
.map-water-icon-small { background: url('/images/map/water-icon-small.png') no-repeat 0 0; }
.map-water-marker { background: url('/images/map/water-marker.png') no-repeat 0 0; }
.map-water_large { background: url('/images/map/water_large.png') no-repeat 0 0; }
.map-word_bubble_large { background: url('/images/map/word_bubble_large.png') no-repeat 0 0; }