# Environment settings
.env

# Cache folders
application/cache/**
wwwroot/cache/**
backend/cache/**

# Log folders
application/logs/**
backend/logs/**

# User-uploaded content
wwwroot/images/content_projects/**
wwwroot/images/forum/**
wwwroot/images/member_photos/**
wwwroot/images/signup/**
wwwroot/images/store/**

# Development files
*.sublime-*
wwwroot/node_modules/**
.idea/**

# Mac OSX system files
.DS_Store

# Build artefacts
wwwroot/.sass-cache/**
wwwroot/js/main.*.js*
wwwroot/js/vendor.*.js*
wwwroot/js/runtime.*.js*

# Composer-installed dependencies
vendor/
