# Standard .htaccess file. Test

# Secure .htaccess file
<Files .htaccess>
 order allow,deny
 deny from all
</Files>

# Block access to backup and source files
# This files may be left by some text/html editors and
# pose a great security danger, when someone can access them
<FilesMatch "(\.(bak|config|sql|fla|psd|ini|log|sh|inc|swp|dist)|~)$">
  Order allow,deny
  Deny from all
  Satisfy All
</FilesMatch>

<IfModule php5_module>
  # supress php errors
  # turn off on production
  php_flag display_startup_errors on
  php_flag display_errors on
  php_flag html_errors on

  # File Upload size
  #php_value upload_max_filesize 30M
  #php_value post_max_size 30M


  # Server Memory and Execution
  #php_value max_input_time 400
  php_value max_execution_time 200
  php_value memory_limit 256M
</IfModule>

# Don't show any directory without an index file
Options -Indexes

# Dont list files in index pages
IndexIgnore *

# Set 404 Page
ErrorDocument 404 /404

<IfModule mod_rewrite.c>
	# Enable Rewrite Engine
	RewriteEngine on
	
	# Force domain name
	RewriteCond %{HTTP_HOST} ^70\.32\.113\.21$
	RewriteRule ^(.*)$ https://www.globalvipprojects.com/$1 [L,R=301]
	
	# Force the www.globalvipprojects.com 
	RewriteCond %{SERVER_ADDR} 70\.32\.113\.21 
	RewriteCond %{HTTP_HOST} !^www\.globalvipprojects\.com
	RewriteRule ^(.*)$ http://www.globalvipprojects.com/$1 [R=301,L] 
	
	# Force SSL
	RewriteCond %{HTTP_HOST} ^www.globalvipprojects
	RewriteCond %{HTTPS} off
	RewriteRule (.*)$ https://%{HTTP_HOST}/$1 [R=301,L] 
	
	# UnForce SSL on these pages
	# RewriteCond %{QUERY_STRING} (.*)forum/schedule(.*)
	# RewriteCond %{HTTPS} on
	# RewriteRule (.*)$ http://%{HTTP_HOST}/$1 [R=301,L] 
	
	# # rewrite admin/ 
	# RewriteCond $1 ^admin/?$
	# RewriteCond $1 !^admin\.php
	# RewriteRule ^(.*)$ /admin.php?/$1 [L]
	
	RewriteCond $1 !^(favicon-16x16\.png|favicon-32x32\.png|favicon\.ico|index\.php|images|robots\.txt|css|js|fonts|admin\.php|themes|cache|assets|admin|build)
	RewriteRule ^(.*)$ /index.php?/$1 [L]
</IfModule>

# Better website experience for IE users ( Chrome frame )
<IfModule mod_headers.c>
  Header set X-UA-Compatible "IE=Edge,chrome=1"
  # mod_headers can't match by content-type, but we don't want to send this header on *everything*...
  <FilesMatch "\.(js|css|gif|png|jpe?g|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|oex|xpi|safariextz|vcf)$" >
    Header unset X-UA-Compatible
  </FilesMatch>
</IfModule>

# Proper MIME type for all files
# JavaScript
# Normalize to standard type (it's sniffed in IE anyways)
# tools.ietf.org/html/rfc4329#section-7.2
AddType application/javascript js

# Audio
AddType audio/ogg oga ogg
AddType audio/mp4 m4a

# Video
AddType video/ogg ogv
AddType video/mp4 mp4 m4v
AddType video/webm webm

# SVG
# Required for svg webfonts on iPad
# twitter.com/FontSquirrel/status/14855840545
AddType image/svg+xml svg svgz
AddEncoding gzip svgz

# Webfonts
AddType application/vnd.ms-fontobject eot
AddType application/x-font-ttf ttf ttc
AddType font/opentype otf
AddType application/x-font-woff woff

# Assorted types
AddType image/x-icon ico
AddType image/webp webp
AddType text/cache-manifest appcache manifest
AddType text/x-component htc
AddType application/x-chrome-extension crx
AddType application/x-opera-extension oex
AddType application/x-xpinstall xpi
AddType application/octet-stream safariextz
AddType application/x-web-app-manifest+json webapp
AddType text/x-vcard vcf

# Gzip compression
<IfModule mod_deflate.c>

  # Force deflate for mangled headers developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping/
  <IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
      SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
      RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
  </IfModule>

  # HTML, TXT, CSS, JavaScript, JSON, XML, HTC:
  ##
  ## apache 2.4 change
  ##  - https://github.com/h5bp/html5-boilerplate/issues/1012
  ##
  <IfModule filter_module>
    <IfVersion >= 2.4>
     FilterDeclare   COMPRESS
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'text/html'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'text/css'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'text/plain'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'text/xml'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'text/x-component'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'application/javascript'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'application/json'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'application/xml'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'application/xhtml+xml'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'application/rss+xml'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'application/atom+xml'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'application/vnd.ms-fontobject'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'image/svg+xml'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'image/x-icon'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'application/x-font-ttf'"
      FilterProvider  COMPRESS  DEFLATE "%{CONTENT_TYPE} = 'font/opentype'"
      FilterChain     COMPRESS
      FilterProtocol  COMPRESS  DEFLATE change=yes;byteranges=no
    </IfVersion>
    <IfVersion <= 2.2>
      FilterDeclare COMPRESS
      FilterProvider COMPRESS DEFLATE resp=Content-Type $text/html
      FilterProvider COMPRESS DEFLATE resp=Content-Type $text/css
      FilterProvider COMPRESS DEFLATE resp=Content-Type $text/plain
      FilterProvider COMPRESS DEFLATE resp=Content-Type $text/xml
      FilterProvider COMPRESS DEFLATE resp=Content-Type $text/x-component
      FilterProvider COMPRESS DEFLATE resp=Content-Type $application/javascript
      FilterProvider COMPRESS DEFLATE resp=Content-Type $application/json
      FilterProvider COMPRESS DEFLATE resp=Content-Type $application/xml
      FilterProvider COMPRESS DEFLATE resp=Content-Type $application/xhtml+xml
      FilterProvider COMPRESS DEFLATE resp=Content-Type $application/rss+xml
      FilterProvider COMPRESS DEFLATE resp=Content-Type $application/atom+xml
      FilterProvider COMPRESS DEFLATE resp=Content-Type $application/vnd.ms-fontobject
      FilterProvider COMPRESS DEFLATE resp=Content-Type $image/svg+xml
      FilterProvider COMPRESS DEFLATE resp=Content-Type $image/x-icon
      FilterProvider COMPRESS DEFLATE resp=Content-Type $application/x-font-ttf
      FilterProvider COMPRESS DEFLATE resp=Content-Type $font/opentype
      FilterChain COMPRESS
      FilterProtocol COMPRESS DEFLATE change=yes;byteranges=no
    </IfVersion>
  </IfModule>


  <IfModule !mod_filter.c>
    # Legacy versions of Apache
    AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE text/xml application/xml text/x-component
    AddOutputFilterByType DEFLATE application/xhtml+xml application/rss+xml application/atom+xml
    AddOutputFilterByType DEFLATE image/x-icon image/svg+xml application/vnd.ms-fontobject application/x-font-ttf font/opentype
  </IfModule>

</IfModule>

# Ensure GZIP Compression is on
# used on SCG since other one broke
# php_value output_handler ob_gzhandler

# Expires headers (for better cache control)
# If you don't use filenames to version, lower the CSS and JS to something like
# "access plus 1 week" or so.

<IfModule mod_expires.c>
  ExpiresActive on

# Perhaps better to whitelist expires rules? Perhaps.
  ExpiresDefault "access plus 1 month"

# cache.appcache needs re-requests in FF 3.6 (thanks Remy ~Introducing HTML5)
  ExpiresByType text/cache-manifest "access plus 0 seconds"

# Your document html
  ExpiresByType text/html "access plus 0 seconds"

# Data
  ExpiresByType text/xml "access plus 0 seconds"
  ExpiresByType application/xml "access plus 0 seconds"
  ExpiresByType application/json "access plus 0 seconds"

# Feed
  ExpiresByType application/rss+xml "access plus 1 hour"
  ExpiresByType application/atom+xml "access plus 1 hour"

# Favicon (cannot be renamed)
  ExpiresByType image/x-icon "access plus 1 week"

# Media: images, video, audio
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/jpg "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType video/ogg "access plus 1 month"
  ExpiresByType audio/ogg "access plus 1 month"
  ExpiresByType video/mp4 "access plus 1 month"
  ExpiresByType video/webm "access plus 1 month"

# HTC files (css3pie)
  ExpiresByType text/x-component "access plus 1 month"

# Webfonts
  ExpiresByType application/x-font-ttf "access plus 1 month"
  ExpiresByType font/opentype "access plus 1 month"
  ExpiresByType application/x-font-woff "access plus 1 month"
  ExpiresByType image/svg+xml "access plus 1 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

# CSS and JavaScript
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"

</IfModule>

# ETag removal

# FileETag None is not enough for every server.
<IfModule mod_headers.c>
  Header unset ETag
</IfModule>

# Since we're sending far-future expires, we don't need ETags for
# static content.
# developer.yahoo.com/performance/rules.html#etags
FileETag None

# Prevent SSL cert warnings
# Rewrite secure requests properly to prevent SSL cert warnings, e.g. prevent
# https://www.example.com when your cert only allows https://secure.example.com
# Uncomment the following lines to use this feature.

# <IfModule mod_rewrite.c>
# RewriteCond %{SERVER_PORT} !^443
# RewriteRule ^ https://example-domain-please-change-me.com%{REQUEST_URI} [R=301,L]
# </IfModule> 